# Node modules
node_modules/
**/node_modules/

# Next.js build output
.next/
**/.next/
out/
**/out/

# Vercel deployment folder
.vercel/
**/.vercel/

# Java & Maven build output
target/
**/target/
*.class
*.jar
*.war
*.ear

# IDE & Editor files
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Environment & local secret files
.env
.env*.local
*.env

# Logs & temp files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
